<svelte:head>
    <!-- Google Fonts -->
    <link href="https://api.fonts.coollabs.io/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Coover Tracker</title>

</svelte:head>

<script lang="ts">
    import { page } from '$app/stores';
    import { currentUser } from '$lib/pocketbase';
    import 'normalize.css/normalize.css';
    import 'milligram/dist/milligram.min.css';
    import '../styles/app.css';
    import ThemeToggle from '$lib/components/ThemeToggle.svelte';
</script>


<main class="container">
<header>
    <h1><a href="/">Coover Tracker</a></h1>
    <nav>
        <ul>
            <li><a href="/" class={$page.url.pathname === '/' ? 'active' : ''}>Home</a></li>
            {#if $currentUser}
            <li><a href="/stats" class={$page.url.pathname === '/stats' ? 'active' : ''}>Stats</a></li>
            <li><a href="/calendar" class={$page.url.pathname === '/calendar' ? 'active' : ''}>Calendar</a></li>
            {/if}
            <li>
                <a href="/signin" class={$page.url.pathname === '/signin' ? 'active' : ''}>
                    {#if $currentUser}
                        ( {$currentUser.username} )
                    {:else}
                        'Sign In'
                    {/if}
                </a>
            </li>
            <li><ThemeToggle /></li>
            
        </ul>
    </nav>
</header>

    <slot/>
</main>
