<script lang="ts">
  import { pb, currentUser } from '$lib/pocketbase';
  import { goto } from '$app/navigation';
  import { user } from '$lib/userStore';
  

  interface UserData {
    avatar: ImageData
    collectionId: string
    collectionName: string
    timestamp: string
    email: string
    emailVisibility: boolean
    id: string
    name: string
    updated: string
    username: string
    verified: boolean
  }

  let username = '';
  let email = 'irinavandijk@hotmail.com';
  let password = '0lt*4ZruRaBAO$qo';
  let passwordConfirm = '';

  async function login(): Promise<void> {
    try {
      const userData = await pb.collection('users').authWithPassword(email, password);

      if (userData) {
        console.log('Login successful');
        user.set(userData); // Update the user store
        goto('/'); // Redirect to home page
      } else {
        console.error('Login failed');
      }
    } catch (error) {
      console.error('Error during login:', error);
    }
  }

  async function signUp() {
    try {
      console.log(email);
      const user = await pb.collection('users').create({
        username: username,
        email,
        password,
        passwordConfirm: password
      });
      await login();
      // Redirect to sign-in or dashboard
    } catch (error) {
      console.error(error);
    }
  }

  async function signIn() {
      try {
        await login();
      } catch (error) {
        console.error(error);
      }
    }

  function signOut() {
      pb.authStore.clear();
    }
</script>

{#if $currentUser}
  <p>
    Signed in as {$currentUser.username} 
    <button on:click={signOut}>Sign Out</button>
  </p>
{:else}
  <form on:submit|preventDefault={signUp}>
    <h1>Sign Up</h1>
    <input type="text" bind:value={username} placeholder="Username" />
    <input type="email" bind:value={email} placeholder="Email" />
    <input type="password" bind:value={password} placeholder="Password" />
    <input type="password" bind:value={passwordConfirm} placeholder="Confirm Password" />
    <button type="submit">Sign Up</button>
  </form>

  <form on:submit|preventDefault={signIn}>
    <h1>Sign In</h1>
    <input type="email" bind:value={email} placeholder="Email" />
    <input type="password" bind:value={password} placeholder="Password" />
    <button type="submit">Sign In</button>
  </form>
{/if}