<script lang="ts">
    import { onMount } from 'svelte';
    import { writable } from 'svelte/store';
    import { convertMinutes } from '$lib/utils';
  
    export let actions = []; // Array of actions passed to the component
  
    // Stores for each action type
    let awakeMinutes = writable(0);
    let asleepMinutes = writable(0);
    let foodMinutes = writable(0);
    let diaperMinutes = writable(0);
    let poopDays = writable(0);
  
    const getLastActionTime = (type) => {
      const lastAction = actions.filter(action => action.type === type).pop();
      return lastAction ? new Date(lastAction.timestamp) : null;
    };
  
    const calculateDiffMinutes = (date) => {
      const now = new Date();
      return date ? Math.floor((now - date) / 60000) : null; // Convert milliseconds to minutes
    };
  
    const calculateDiffDays = (date) => {
      const now = new Date();
      return date ? Math.floor((now - date) / (1000 * 60 * 60 * 24)) : null; // Convert milliseconds to days
    };
  
    const updateTimes = () => {
      awakeMinutes.set(calculateDiffMinutes(getLastActionTime("awake")));
      asleepMinutes.set(calculateDiffMinutes(getLastActionTime("asleep")));
      foodMinutes.set(calculateDiffMinutes(getLastActionTime("food")));
      diaperMinutes.set(calculateDiffMinutes(getLastActionTime("diaper")));
      poopDays.set(calculateDiffDays(getLastActionTime("poop")));
    };
  
    // Update immediately when the component has access to actions
    updateTimes();
  
    onMount(() => {
      const interval = setInterval(updateTimes, 2000); // Update every 2 minutes
  
      return () => {
        clearInterval(interval); // Cleanup on component destruction
      };
    });
  </script>

  <style>
.counters {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  outline: 1px solid var(--c-border);
  background-color: var(--c-border);
  padding: 2rem;
  border-radius: 2rem;
  font-size: 2.5rem;
  box-shadow: -10px 10px 20px -10px #00000030;
}

@media screen and (max-width: 600px) {
  .counters {
    margin-right: -2rem;
    border-radius: 2rem 0 0 2rem;
  }
}

@media screen and (max-width: 500px) {
  .counters {
    margin-right: -2rem;
    border-radius: 2rem 0 0 2rem;
    position: fixed;
    bottom: 2rem;
    top:auto;
  }
}
  </style>
  
  <div class="counters">
    {#if $awakeMinutes !== null && $awakeMinutes < $asleepMinutes}<div>Awake for <strong>{convertMinutes($awakeMinutes)}</strong></div>{/if}
    {#if $asleepMinutes !== null && $asleepMinutes < $awakeMinutes}<div>Sleeping for <strong>{convertMinutes($asleepMinutes)}</strong></div>{/if}
    {#if $foodMinutes !== null}<div>Ate <strong>{convertMinutes($foodMinutes)}</strong> ago</div>{/if}
    {#if $diaperMinutes !== null}<div>Changed <strong>{convertMinutes($diaperMinutes)}</strong> ago</div>{/if}
    {#if $poopDays === 0}<div>Pooped today!</div>{:else if $poopDays !== null}<div>Pooped <strong>{$poopDays} days</strong> ago</div>{/if}
  </div>
  